[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai-whisper = "*"
moviepy = "*"
setuptools = "*"
torch = "*"
imageio = {extras = ["ffmpeg"], version = "*"}
uvicorn = "*"
fastapi = "*"
pydantic = "*"
python-multipart = "*"
whisper-timestamped = "*"
pyttsx3 = "*"
requests = "*"
beautifulsoup4 = "*"
httpx = "*"

[dev-packages]

[requires]
python_version = "3.11"
