openai-whisper==20240930
moviepy==2.1.2
setuptools==75.8.0
imageio[ffmpeg]==2.37.0
uvicorn==0.34.0
fastapi==0.115.8
pydantic==2.10.6
python-multipart==0.0.20
whisper-timestamped==1.15.8
requests==2.32.3
beautifulsoup4==4.13.3
httpx==0.28.1
torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
gtts==2.5.4
