@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

:root {
	--blue: #3498db;
	--dark-blue: #2980b9;
}

body {
	font-family: "Ubuntu", sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
}

.container {
	max-width: 800px;
	margin: 2.5rem auto;
	padding: 20px;
	background-color: #ffffff;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 10px;
	gap: 2rem;
}

h1 {
	color: #2c3e50;
}

.logo {
	width: 40px;
	height: auto;
	margin-right: 10px;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	gap: 1rem;
}

p {
	color: #34495e;
	margin-bottom: 0.25rem;
}

.video-section,
.subtitle-section {
	margin-bottom: 20px;
}

.subtitle-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: column wrap;
	gap: 1rem;
	flex: 1;
}

input[type="file"] {
	display: none;
}

.icon {
	margin-right: 0.5rem;
}

.subtitle-options {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: column wrap;
	gap: 1rem;
	flex: 1;
}

.video-input-label,
.subtitle-input-label {
	display: block;
	background-color: var(--blue);
	color: #fff;
	padding: 12px;
	text-align: center;
	cursor: pointer;
	border-radius: 8px;
	transition: background-color 0.3s ease-in-out;
}

.video-input-label:hover,
.subtitle-input-label:hover {
	background-color: var(--dark-blue);
}

.video-input-label input,
.subtitle-input-label input {
	display: none;
}

.video-input-label span,
.subtitle-input-label span {
	display: inline-block;
	margin-top: 5px;
}

.video-input-label i,
.subtitle-input-label i {
	margin-right: 8px;
}

.video {
	display: none;
	width: 100%;
	border-radius: 8px;
}

.label {
	font-weight: bold;
	margin-bottom: 5px;
	display: block;
}

.color-picker {
	margin-bottom: 10px;
}

.subtitle-section select {
	font-size: 16px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.subtitle-section select:hover {
	border-color: #999;
}

.subtitle-section select:focus {
	outline: none;
	box-shadow: 0 0 5px rgba(0, 123, 255, 0.7);
}

.subtitle-section input#size {
	font-size: 16px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	width: 50px;
}

.subtitle-section input#size:hover {
	border-color: #999;
}

.subtitle-section input#size:focus {
	outline: none;
	box-shadow: 0 0 5px rgba(0, 123, 255, 0.7);
}

#video-top,
#video-bottom {
	width: 100%;
	height: 25rem;
	border-radius: 8px;
	overflow: hidden;
}

#container-video-top {
	margin-top: 2rem;
}

.generate-button {
	display: block;
	background-color: var(--blue);
	color: #fff;
	padding: 12px;
	text-align: center;
	cursor: pointer;
	border-radius: 8px;
	border: none;
	font-size: 16px;
	transition: background-color 0.3s ease-in-out;
}

.generate-button:hover {
	background-color: var(--dark-blue);
}

.generate-button:active {
	background-color: var(--blue);
	transform: translateY(2px);
}

dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.5);
}

dialog {
	width: 300px;
	padding: 20px;
	border-radius: 8px;
	background-color: #fff;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

dialog p {
	margin: 0;
	font-size: 14px;
	color: #333;
}

dialog button {
	margin-top: 10px;
	padding: 8px 12px;
	font-size: 14px;
	background-color: var(--blue);
	color: #fff;
	border: none;
	cursor: pointer;
	border-radius: 4px;
}

dialog button:hover {
	background-color: var(--dark-blue);
}

dialog div {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.loading-spinner {
	border: 4px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	border-top: 4px solid var(--blue);
	width: 40px;
	height: 40px;
	animation: spin 1s linear infinite;
}

.button-video-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 2rem;
}

.download-button {
	display: block;
	background-color: var(--blue);
	color: #fff;
	padding: 12px;
	text-align: center;
	cursor: pointer;
	border-radius: 8px;
	border: none;
	font-size: 16px;
	margin-top: 20px;
	transition: background-color 0.3s ease-in-out;
}

.download-button:hover {
	background-color: var(--dark-blue);
}

.download-button:active {
	background-color: var(--blue);
	transform: translateY(2px);
}

.download-button a {
	color: #fff;
	text-decoration: none;
}

@media (max-width: 768px) {
	.container {
		margin: 1rem;
	}

	.subtitle-section {
		flex-direction: column;
	}

	.subtitle-options {
		flex-direction: column;
	}

	.subtitle-input-label {
		width: 100%;
	}

	.subtitle-input-label span {
		display: block;
	}

	.subtitle-input-label i {
		display: none;
	}

	.subtitle-section select {
		width: 100%;
	}

	#video-top,
	#video-bottom {
		height: 20rem;
	}

	.subtitle {
		font-size: 20px;
	}

	.generate-button {
		margin-top: 10px;
	}

	.header {
		flex-direction: column;
	}

	.header h1 {
		margin-bottom: 0.5rem;
	}

	.header img {
		margin-bottom: 1rem;
	}

	.header p {
		margin-bottom: 0;
	}

	.header .logo {
		width: 30px;
		height: auto;
		margin-right: 0;
	}
}


.video-section-container, .subtitle-section-container, .video-creation-container {
	border-radius: 0.5rem;
	padding: 1rem;
	border: 0.1rem solid #ccc;
}
